<span *ngIf = "!isEdit" >Id: {{post.id}}, Title: {{post.title}} </span>
<span *ngIf = "isEdit" >Id: <input type="text" [(ngModel)] = "post.id"> Title: <input type="text" [(ngModel)] = "post.title">
<button (click) = "sendCancel()" >Cancel</button></span>
<button (click) = "sendDelete()" >Delete</button> 
<button (click) = "toggleEdit()" >{{editButtonText}}</button>