<div>
  <h3>Posts list:</h3>
  <app-post-form (postAddedEvent) = "addPost($event)"></app-post-form>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" >
            <app-post [post] = "post" 
       (deleteEvent) = "deletePost($event)"
       (editEvent) = "updatePost($event)"></app-post>   
           <ul>
          <li *ngFor = "let title of post.userName">
            {{(title | async)?.email}}
          </li>
        </ul>  
        </li>
  </ul>
</div>