<span *ngIf ="!isEdit">Name: {{user.name}} Email: {{user.email}} Id:{{user.id}}</span>
<span *ngIf ="isEdit">Name: <input type="text"[(ngModel)] =user.name>Email: <input type="text"[(ngModel)]=user.email>Id: <input type="text"[(ngModel)]=user.id></span>
<button (click) = "sendDelete()">Delete</button>
<button (click) ="toggleEdit()">{{editButtonText}}</button>